
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
    font-family:'K2D', sans-serif;
    background-color: #ffff;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 1.4rem;
    color: #707070;
  }
  header .logoColor{
    color: #c16f03;
    font-weight: bold;
  }

  header.header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.8rem;
    position: relative;
    background:#1f5582;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #c16f03 3px solid;
  }

  /* send-IT title positioning */
  .page-title {
    padding: 0.8rem 1.6rem 3.3rem;
    background-position-x: 50%;
    background-repeat: repeat-x;
    background-position-y: 4.3rem;
  }
  
  .page-title > * {
    font-size: 0.85rem;
    color: #333;
  }
  main.main {
    padding: 1.8rem;
    min-height: 40rem;
    padding-bottom: 5rem;
  }
  
  .wrapper {
    background-color: #ffff;
    max-width: 100rem;
    margin: 2rem auto;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    position: relative;
  }

  .brand {
    flex: 1;
  }
  .brand__name {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 2.8rem;
    padding-left: 1.8rem;
  }

  .hamburger {
    width: 3.5rem;
    display: none;
  }
  
  .hamburger > * {
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
  }
  
  .close-nav {
    font-size: 5rem;
    display: none;
  }
  .nav__links {
    display: flex;
    flex-direction: row;
  }
  
  .nav__links.user {
    display: none;
  }
  
  .nav__link--link {
    color: #fff;
    display: block;
    padding: 0 1.2rem;
    font-size: 20px;
  }
  
  .brand__name:hover,
  .nav__link--link:hover {
    color: #c16f03;
  }


  
  .login {
    max-width: 50rem;
    margin: 1.8rem auto 5rem;
    box-shadow: 0 0.2rem 1rem #ccc;
    padding: 3rem 2rem;
  }
  .login .error {
    font-size: 1.2rem;
    display: block;
    margin: 0.8rem 0;
    display: none;
    color: red;
  }
  
  /* sign-in button */
  .login .btn {
    background-color: #c16f03;
    color: #fff;
    font-size: 1.8rem;
    padding: 0.8rem 1.6rem;
    margin-top: 2.6rem;
    box-shadow: 0 0.1rem 0.4rem #ccc;
    margin-bottom: 1rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .input-group .input-group__label {
    margin: 1rem 0;
    font-size: 1.8rem;
  }
  
  .input-group .input-group__input,
  .input-group .input-group__textarea,
  .input-group .input-group__select {
    font-size: 1.8rem;
    padding: 1rem;
  }
  
  .input-group .input-group__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    font-size: 1.6rem;
    border-radius: 0;
  }
  
  .btn {
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    border-radius: 3px;
    border: none;
    margin-top: 1.5rem;
  }
  /* responsiveness */
     
  @media screen and (max-width: 1000px) {
    body {
      background-color: #fff;
    }
    .wrapper {
      margin: 0;
    }
      .login {
        margin-top: 2rem;
      }
  }
  
  @media screen and (max-width: 768px) {
    .brand__name {
      padding-left: 1rem;
    }
  
    .hamburger {
      display: inline-block;
      width: 3rem;
    }
    .hamburger > * {
      height: 3px;
    }
  
    .close-nav {
      display: inline-block;
      position: absolute;
      z-index: 2;
      right: 2rem;
      top: 1.4rem;
    }
    .nav {
      display: none;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 99%;
    }
  
    .nav__links {
      display: block;
      background: #333;
      position: relative;
    }
  
    .nav__link--link {
      padding: 1.8rem;
      border-top: 1px soild white;
      margin-top: 1px;
      background: #222;
      display: block;
    }
  }
  
  @media screen and (max-width: 425px) {
    .login .btn {
      color: #ffff;
      font-size: 1.5rem;
      padding: 1.6rem;
      display: block;
      width: 100%;
    }
  }

.result {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.8rem;
  }

  footer{
	padding: 20px;
	margin-top: 1px;
	color: white;
	background-color: #1f5582;
	text-align: center;
}
  


  
  